.card-container{
      justify-content: center;  
}

.card-product-container{
    gap: 15px;
    justify-content: center;
    display: flex;
}
.card-product{
    background-color: white;
    border: 1px solid #ddd  ;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}
.card-text{
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:green;
}
.card-image{
    width: 30%;
    object-fit: cover;
    border-radius: 5px;
}
.card-title{
    width: 10%;
    color:green;
}
.card-praphpharag{
    color:green;
    
}