.cp-container{
    display: flex;
    flex-direction: column;
    color: green;
    align-items: center;
    gap:10px;
}
.cp-title{
    text-align: center;
}
.cp-secundary{
    display: flex;
    gap:15px;
    background-color:rgba(217, 253, 217, 0.9);
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}
.cp-terciary{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}
.cp-secundary2{
    display: flex;
    gap:15px;
    background-color:rgba(217, 253, 217, 0.9);
    width: 100%;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.img-produto{
    width: 100%;
    border-radius: 5px;
}
.produto-card{
    background-color: white;
    border: 1px solid #ddd  ;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.card-button{
    width: 100px;
    text-align: center;
    background-color: rgb(0, 128, 0);
    color:white;
    border: none;
    transition: backcgound-color 0.7s ease;
}
.card-button:hover{
    background-color: rgb(95, 145, 95);
}