.cp-container{
    display: flex;
    flex-direction: column;
    color: green;
    background-color:  rgb(211, 252, 213);
}
.cp-secundary{
    display: flex;
    gap:15px;   
}
.img-produto{
    width: 100%;
    border-radius: 5px;
}
.produto-card{
    background-color: white;
    border: 1px solid #ddd  ;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
  align-items: center;
}
.card-button{
    width: 100px;
    text-align: center;
    background-color: green;
    color:white;
}