.carrousel-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(171, 245, 171, 0.4);
    width: 700px;
    height: 300px;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
  
    
}
.carrousel-title{
    font-size: 30px;
    text-align:center ;
    color: green;
}
.carrousel-praphpharag{
    text-align: center;
    color: lightgreen;
}
.carrousel-button{
    background-color: green;
    width: 120px;
    text-align: center;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.carrousel-button:hover{
    background-color: rgb(95, 145, 95);
}
