:root{
    --corprimaria: rgb(66, 150, 66);
    --corsecundaria:
}
.header-style {
    background-color: var(--corprimaria);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    
}
.logo-text{
    color: white;
    text-align: center;
    font-size: 20px;
}
.nav-container{
    display: flex;
    gap: 25px;
}
.nav-link{
    text-decoration: none;
    color: white;
}
