:root{
    --corprimaria: rgb(66, 150, 66);
    --corsecundaria:
}
.header-style {
    background-color: var(--corprimaria);
    width: 700px;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    
}
.logo-text{
    color: white;
    text-align: center;
    font-size: 20px;
}
.nav-container{
    display: flex;
    gap: 25px;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
}
.nav-link:hover {
  color: #69cc69; 
  transform: scale(1.1); 
}
